<!DOCTYPE html>
<html lang="es">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <meta http-equiv="X-UA-Compatible" content="ie=edge" />
  <title>Spotify</title>
  <link rel="icon" href="./favicon.png" />
  <link rel="stylesheet" href="./vendors/normalize.scss">
  <link rel="stylesheet" href="./assets/css/main.css" />
</head>

<body>
  <header class="header">
    <div class="header__logo">
      <img class="header__logo__img" src="./assets/images/logo.png" alt="logo spotify">
    </div>
    <nav class="header__menu">
      <ul class="linea">
        <li class="header__menu__item"><a class="header__menu__link" href="#">Premium</a></li>
        <li class="header__menu__item"><a class="header__menu__link" href="#">Ayuda</a></li>
        <li class="header__menu__item"><a class="header__menu__link" href="#">Descargar</a></li>
        <li class="header__menu__item"><a class="header__menu__link" href="#">Registrate</a></li>
        <li class="header__menu__item"><a class="header__menu__link" href="#">Iniciar Sesion</a></li>
      </ul>
    </nav>
  </header>
  <main class="main">
    <div class="main__hero">
      <div class="main__hero__texts">
        <h2 class="main__hero__tittle1">Prueba Premium gratis 3 meses</h2>
        <h2 class="main__hero__tittle2">Escucha millones de canciones sin anuncios, a la carta y sin conexion.</h2>
        <a href="#" class="button">Ver planes</a>
        <h5>Rigen terminos y condiciones. Los tres meses no estan disponibles si ya has probado
          Premium.</h5>
        <div class="main__hero__img">
        </div>
      </div>
    </div>
    <div class="premium">
      <h1>Por que pasarte a Premium?</h1>
      <ul class="premium__features">
        <li class="premium__features__item"><img class="premium__features__img" src="./assets/images/benefit-1.png"
            alt="descarga musica">
          <div class="premium__features__text">
            <h2 class="premium__features__tittle">Descarga musica</h2>
            <p class="premium__features__des">Llevala siempre contigo</p>
          </div>
        </li>
        <li class="premium__features__item"><img class="premium__features__img" src="./assets/images/benefit-2.png"
            alt="Sin anuncios">
          <div class="premium__features__text">
            <h2 class="premium__features__tittle">Sin anuncios</h2>
            <p class="premium__features__des">Disfruta de musica sin interrupciones</p>
          </div>
        </li>
        <li class="premium__features__item"><img class="premium__features__img" src="./assets/images/benefit-3.png"
            alt="Escucha lo que quieras">
          <div class="premium__features__text">
            <h2 class="premium__features__tittle">Escucha lo que quieras</h2>
            <p class="premium__features__des">Incluso en el movil</p>
          </div>
        </li>
        <li class="premium__features__item"><img class="premium__features__img" src="./assets/images/benefit-4.png"
            alt="Salta todas las canciones que quieras">
          <div class="premium__features__text">
            <h2 class="premium__features__tittle">Salta todas las canciones que quieras</h2>
            <p class="premium__features__des">Simplemente dale a la siguiente</p>
          </div>
        </li>
      </ul>

    </div>

  </main>
  <footer class="footer">
    <nav class="footer__menu">
      <ul class="footer__menu__list">
        <li class="footer__menu__item"><a href="#">Legal</a></li>
        <li class="footer__menu__item"><a href="#">Cookies</a></li>
        <li class="footer__menu__item"><a href="#">Informacion sobre los anuncios</a></li>
      </ul>
    </nav>
    <div class="footer__text">
      <span>Espana <img class="footer__img" src="./assets/images/es.svg" alt="logo bandera Espana"></span>
      <span>2019 Spotify AB</span>
    </div>
  </footer>
</body>

</html>